.howToPlay {
  top: 20px;
  position: absolute;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 5px 15px;
  left: 50%;
  transform: translateX(-50%);

  background-color: #1DB954;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 25px;
}

.howToPlay:hover {
  transform: translate(-50%, 0%) scale(1.1);;
}

#howToPlay {
  background-color: #2a2a2a;
}

#howToPlay:hover{
  transform: scale(1.04);
}

.info-box-container {
    display: flex;
    justify-content: space-between;
}

.info-box {
    background: #121212;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    opacity: 0.9;
    color: white;
    margin: 5px;
}

.info-text {
  text-align: left;
}

li {
  margin-left: -25px;
  padding-left: 0px;
}